@import "~bootstrap/scss/bootstrap";

$main-color: #33691E;
$second-color: #18310C;
$dark: #081004;
$light: #F3FBEF;

body {
    background-color: $dark;
}

h1, h2, h3 {
    color: $main-color;
}

p {
    color: $light;
}

img {
    max-width: 30%;
}